body{
	margin: 1% 5%;
	background: white;
	/*background: rgb(63,94,251);*/
	/*background: radial-gradient(circle, rgba(253,254,240,0.4847645429362881) 0%, rgba(250,243,210,0.9) 100%);*/


}
nav#header{
	position: fixed;
	background-color: black;
}
nav#header div{
	display: flex;
	justify-content: center;
	/*margin: 0 5px;*/
}
header{
	min-height: 50px;
}
table{
	border:solid 1px black;
}
td{
	border:solid 1px black;
	width: 27%;
	text-align: left;
	vertical-align: top;
}

tr:nth-child(1) td{
	text-align: center;
}
tr td:nth-child(1), tr td:nth-child(2), tr td:nth-child(7){
	width: 5%;
}
li{
	margin-left: 50px;
}
section h1{
	text-align: center;
}
/*	tr{
		border: solid 5px black;
	}*/

#occurenceTable td{
	width: 14.28vw;
}
.already{
	/*margin: 0 0;*/
}

.grid{
	display: grid;
	grid-gap: 10% 5%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

	/*background-color: rgba(0,0,40,0.9);*/
	border: solid 15px black;
	transform: rotate(-5deg);
}
.grid div button{
	width: 100%;
	height: 15vh;
	border-radius: 5%;
	/*background-color: rgba(70,70,150,0.5);*/
	transition: transform 0.4s ease-in-out, box-shadow 0.6s ease-in-out;
	box-shadow: 2px 2px 20px black;
	font-weight: bold;
	color: orange;
	font-size: 1.5em;
}
.grid div button:hover{
	transform: scale(1.2);
	box-shadow: 2px 2px 50px black;
}
.interface{
	margin: 2%;
	/*background: url('../img/belgianPoliticians.jpg');*/
	background-size: 100% 100%;
}
.interface h1{
	text-align: center;
	color: black;
	text-shadow: 1px 1px 20px black, -1px -1px 40 red;
	/*background-color: rgba(0,0,40,0.9);*/
	padding: 3%;
	transform: rotate(5deg);
	transition: transform 0.7s ease;
	border: solid 15px black;

}
.interface h1:hover{
	transform: rotate(0deg);
}
.transparent{
	/*background-color: rgba(0,0,40,0.6);*/
}
html{
	/*background-color: rgba(0,0,40, 1);*/
	margin: 0, padding: 0;
}