USE [master]
GO
/****** Object:  Database [rss]    Script Date: 03-05-18 21:32:23 ******/
CREATE DATABASE [rss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rss', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rss.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rss_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rss_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rss]
GO
USE [rss]
GO
/****** Object:  User [root]    Script Date: 03-05-18 21:32:23 ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [greenline]    Script Date: 03-05-18 21:32:23 ******/
CREATE USER [greenline] FOR LOGIN [greenline] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [root]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [root]
GO
ALTER ROLE [db_owner] ADD MEMBER [greenline]
GO
ALTER ROLE [db_datareader] ADD MEMBER [greenline]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [greenline]
GO
/****** Object:  Table [dbo].[media]    Script Date: 03-05-18 21:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media](
	[idMedia] [int] IDENTITY(452,1) NOT NULL,
	[nom] [nvarchar](1000) NULL,
	[titre] [nvarchar](2000) NULL,
	[description] [nvarchar](max) NULL,
	[date] [nvarchar](1000) NULL,
	[lien] [nvarchar](max) NULL,
	[categorie] [nvarchar](1000) NULL,
 CONSTRAINT [PK_media_idMedia] PRIMARY KEY CLUSTERED 
(
	[idMedia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[media] ON 

GO
SET IDENTITY_INSERT [dbo].[media] OFF
ALTER TABLE [dbo].[media] ADD  DEFAULT (NULL) FOR [nom]
GO
ALTER TABLE [dbo].[media] ADD  DEFAULT (NULL) FOR [titre]
GO
ALTER TABLE [dbo].[media] ADD  DEFAULT (NULL) FOR [date]
GO
ALTER TABLE [dbo].[media] ADD  DEFAULT (NULL) FOR [lien]
GO
ALTER TABLE [dbo].[media] ADD  DEFAULT (NULL) FOR [categorie]
GO
USE [master]
GO
